In [3]:
import pandas as pd
import datetime
datetime.datetime.strptime

In [5]:
transactions = pd.read_csv("https://s3.amazonaws.com/isc-isc/trips_gdrive.csv")
transactions['Date'] = pd.to_datetime(transactions.Date)
transactions["Date"]

0       2014-01-02
1       2014-01-02
2       2014-01-02
3       2014-01-02
4       2014-01-02
5       2014-01-02
6       2014-01-02
7       2014-01-02
8       2014-01-02
9       2014-01-02
10      2014-01-02
11      2014-01-02
12      2014-01-02
13      2014-01-02
14      2014-01-02
15      2014-01-02
16      2014-01-02
17      2014-01-02
18      2014-01-02
19      2014-01-02
20      2014-01-02
21      2014-01-02
22      2014-01-02
23      2014-01-02
24      2014-01-02
25      2014-01-02
26      2014-01-02
27      2014-01-02
28      2014-01-02
29      2014-01-02
           ...
29961   2014-06-30
29962   2014-06-27
29963   2014-06-28
29964   2014-06-28
29965   2014-06-28
29966   2014-06-27
29967   2014-06-30
29968   2014-06-29
29969   2014-06-28
29970   2014-06-27
29971   2014-06-29
29972   2014-06-29
29973   2014-06-27
29974   2014-06-28
29975   2014-06-27
29976   2014-06-27
29977   2014-06-27
29978   2014-06-28
29979   2014-06-28
29980   2014-06-29
29981   2014-06-30
29982   2014-06-30
29983   2014-06-30
29984   2014-06-29
29985   2014-06-30
29986   2014-06-29
29987   2014-06-29
29988   2014-06-30
29989   2014-06-30
29990   2014-06-30
Name: Date, Length: 29991, dtype: datetime64[ns]

In [79]:
transactions.head()

,Trip ID,Date,Retailer,Parent Brand,User ID,Item Dollars,Item Units
0,9518383,2014-01-02,Walmart,Monster,118789,$2,1
1,9536651,2014-01-02,Walmart,Red Bull,191043,$2,1
2,9538542,2014-01-02,Walmart,Red Bull,36949,$2,1
3,9540308,2014-01-02,Walgreens,5 Hour Energy,310300,$8,2
4,9543394,2014-01-02,Kroger,Rockstar,310076,$9,5

In [70]:
# filtered_transactions = transactions[1 & (transactions["Parent Brand"] == "Red Bull") & (transactions["Retailer"] == "Costco")]
# filtered_transactions.head()
# query = 1 and (transactions["Parent Brand"] == "Red Bull") & (transactions["Retailer"] == "Safeway") & (transactions['Date'] == datetime.date(2014,2,1))
query = 1 and (transactions["Retailer"] == "Walmart") & (transactions["Parent Brand"] == "5 Hour Energy") & (transactions['Date'] < datetime.date(2017,12,12))
# query = query & (transactions["Retailer"] == "Walmart") 
filtered_transactions = transactions[query]
                                                
filtered_transactions

,Trip ID,Date,Retailer,Parent Brand,User ID,Item Dollars,Item Units
11,9555932,2014-01-02,Walmart,5 Hour Energy,98838,$10,1
54,9581355,2014-01-02,Walmart,5 Hour Energy,327512,$10,1
66,9587500,2014-01-02,Walmart,5 Hour Energy,10062,$2,1
81,9598036,2014-01-03,Walmart,5 Hour Energy,42952,$10,1
89,9604478,2014-01-03,Walmart,5 Hour Energy,200040,$13,1
91,9607303,2014-01-03,Walmart,5 Hour Energy,335913,$5,1
96,9609253,2014-01-03,Walmart,5 Hour Energy,128370,$3,1
134,9635194,2014-01-03,Walmart,5 Hour Energy,202170,$10,1
146,9639633,2014-01-03,Walmart,5 Hour Energy,177335,$10,1
195,9662398,2014-01-04,Walmart,5 Hour Energy,273890,$10,1
222,9670500,2014-01-04,Walmart,5 Hour Energy,255025,$37,3
271,9683785,2014-01-05,Walmart,5 Hour Energy,198173,$5,1
321,9710864,2014-01-03,Walmart,5 Hour Energy,177335,$10,1
326,9712671,2014-01-05,Walmart,5 Hour Energy,103448,$60,5
454,9760068,2014-01-06,Walmart,5 Hour Energy,350664,$5,1
508,9782238,2014-01-07,Walmart,5 Hour Energy,98152,$5,1
577,9812876,2014-01-04,Walmart,5 Hour Energy,196679,$8,3
684,9865200,2014-01-09,Walmart,5 Hour Energy,197762,$20,1
692,9868082,2014-01-08,Walmart,5 Hour Energy,224014,$5,1
740,9888547,2014-01-09,Walmart,5 Hour Energy,350664,$2,1
745,9889179,2014-01-09,Walmart,5 Hour Energy,283366,$2,1
763,9896519,2014-01-09,Walmart,5 Hour Energy,200801,$5,1
778,9901483,2014-01-10,Walmart,5 Hour Energy,87825,$18,1
804,9906787,2014-01-03,Walmart,5 Hour Energy,372192,$36,2
831,9914646,2014-01-10,Walmart,5 Hour Energy,162332,$15,6
855,9925543,2014-01-06,Walmart,5 Hour Energy,178864,$13,1
885,9933448,2014-01-10,Walmart,5 Hour Energy,23545,$3,1
909,9943578,2014-01-08,Walmart,5 Hour Energy,353273,$18,1
921,9951953,2014-01-10,Walmart,5 Hour Energy,356152,$6,2
938,9957845,2014-01-11,Walmart,5 Hour Energy,244734,$18,1
...,...,...,...,...,...,...,...
29448,18664401,2014-06-29,Walmart,5 Hour Energy,545017,$18,1
29457,18668140,2014-06-30,Walmart,5 Hour Energy,274580,$3,1
29485,18675520,2014-06-27,Walmart,5 Hour Energy,277630,$20,1
29552,18694655,2014-06-27,Walmart,5 Hour Energy,450956,$12,1
29556,18696955,2014-06-30,Walmart,5 Hour Energy,264649,$3,1
29562,18700678,2014-06-25,Walmart,5 Hour Energy,261018,$12,1
29633,18722814,2014-06-30,Walmart,5 Hour Energy,98152,$5,1
29647,18728594,2014-06-30,Walmart,5 Hour Energy,351622,$2,1
29648,18728807,2014-06-30,Walmart,5 Hour Energy,561307,$13,1
29657,18734424,2014-06-28,Walmart,5 Hour Energy,174050,$2,1
29664,18738586,2014-06-30,Walmart,5 Hour Energy,442800,$20,1
29665,18740550,2014-06-21,Walmart,5 Hour Energy,534110,$20,1
29680,18748869,2014-06-30,Walmart,5 Hour Energy,566848,$12,1
29689,18753341,2014-06-21,Walmart,5 Hour Energy,137008,$2,1
29768,18800582,2014-06-29,Walmart,5 Hour Energy,515968,$12,1
29774,18812187,2014-06-27,Walmart,5 Hour Energy,398704,$18,1
29795,18833908,2014-06-30,Walmart,5 Hour Energy,576058,$2,1
29835,18904223,2014-06-27,Walmart,5 Hour Energy,254813,$20,1
29840,18909563,2014-06-29,Walmart,5 Hour Energy,302414,$12,1
29841,18910237,2014-06-25,Walmart,5 Hour Energy,255025,$37,3
29876,18983606,2014-06-29,Walmart,5 Hour Energy,12289,$5,2
29877,18983641,2014-06-30,Walmart,5 Hour Energy,12289,$20,1
29883,18991406,2014-06-25,Walmart,5 Hour Energy,227679,$12,1
29894,19003522,2014-06-29,Walmart,5 Hour Energy,66800,$2,1
29949,19158682,2014-06-27,Walmart,5 Hour Energy,447993,$18,1
29957,19195225,2014-06-25,Walmart,5 Hour Energy,428116,$12,1
29966,19270530,2014-06-27,Walmart,5 Hour Energy,236972,$20,1
29972,19307465,2014-06-29,Walmart,5 Hour Energy,128460,$5,2
29978,19344830,2014-06-28,Walmart,5 Hour Energy,530392,$12,1
29979,19349996,2014-06-28,Walmart,5 Hour Energy,484792,$5,2

In [72]:
unique = filtered_transactions["User ID"].unique()
count_hh_= len(unique)
count_hh_

643