In [3]:
import pandas as pd
import datetime
datetime.datetime.strptime

In [5]:
transactions = pd.read_csv("https://s3.amazonaws.com/isc-isc/trips_gdrive.csv")
transactions['Date'] = pd.to_datetime(transactions.Date)
transactions["Date"]

0       2014-01-02
1       2014-01-02
2       2014-01-02
3       2014-01-02
4       2014-01-02
5       2014-01-02
6       2014-01-02
7       2014-01-02
8       2014-01-02
9       2014-01-02
10      2014-01-02
11      2014-01-02
12      2014-01-02
13      2014-01-02
14      2014-01-02
15      2014-01-02
16      2014-01-02
17      2014-01-02
18      2014-01-02
19      2014-01-02
20      2014-01-02
21      2014-01-02
22      2014-01-02
23      2014-01-02
24      2014-01-02
25      2014-01-02
26      2014-01-02
27      2014-01-02
28      2014-01-02
29      2014-01-02
           ...
29961   2014-06-30
29962   2014-06-27
29963   2014-06-28
29964   2014-06-28
29965   2014-06-28
29966   2014-06-27
29967   2014-06-30
29968   2014-06-29
29969   2014-06-28
29970   2014-06-27
29971   2014-06-29
29972   2014-06-29
29973   2014-06-27
29974   2014-06-28
29975   2014-06-27
29976   2014-06-27
29977   2014-06-27
29978   2014-06-28
29979   2014-06-28
29980   2014-06-29
29981   2014-06-30
29982   2014-06-30
29983   2014-06-30
29984   2014-06-29
29985   2014-06-30
29986   2014-06-29
29987   2014-06-29
29988   2014-06-30
29989   2014-06-30
29990   2014-06-30
Name: Date, Length: 29991, dtype: datetime64[ns]

In [79]:
transactions.head()

,Trip ID,Date,Retailer,Parent Brand,User ID,Item Dollars,Item Units
0,9518383,2014-01-02,Walmart,Monster,118789,$2,1
1,9536651,2014-01-02,Walmart,Red Bull,191043,$2,1
2,9538542,2014-01-02,Walmart,Red Bull,36949,$2,1
3,9540308,2014-01-02,Walgreens,5 Hour Energy,310300,$8,2
4,9543394,2014-01-02,Kroger,Rockstar,310076,$9,5

In [93]:
# filtered_transactions = transactions[1 & (transactions["Parent Brand"] == "Red Bull") & (transactions["Retailer"] == "Costco")]
# filtered_transactions.head()
# query = 1 and (transactions["Parent Brand"] == "Red Bull") & (transactions["Retailer"] == "Safeway") & (transactions['Date'] == datetime.date(2014,2,1))
query = 1 and (transactions["Retailer"] == "Costco") & (transactions["Parent Brand"] == "Rockstar")& (transactions['Date'] < datetime.date(2018,2,7))
# query = query & (transactions["Retailer"] == "Walmart") 
filtered_transactions = transactions[query]
                                                
filtered_transactions

,Trip ID,Date,Retailer,Parent Brand,User ID,Item Dollars,Item Units
41,9572051,2014-01-02,Walgreens,Monster,204969,$7,2
47,9575577,2014-01-02,Walgreens,Monster,159670,$3,1
95,9608829,2014-01-03,Walgreens,Monster,187864,$4,2
173,9653998,2014-01-02,Walgreens,Monster,335711,$3,1
248,9676666,2014-01-03,Walgreens,Monster,252617,$2,1
258,9679553,2014-01-05,Walgreens,Monster,178339,$4,2
385,9736287,2014-01-06,Walgreens,Monster,290937,$4,2
413,9746086,2014-01-05,Walgreens,Monster,204675,$4,2
469,9766957,2014-01-03,Walgreens,Monster,51276,$2,1
485,9773680,2014-01-05,Walgreens,Monster,182702,$4,2
492,9776958,2014-01-03,Walgreens,Monster,64029,$3,1
498,9779295,2014-01-07,Walgreens,Monster,311067,$4,2
633,9837278,2014-01-08,Walgreens,Monster,211622,$4,1
650,9848694,2014-01-08,Walgreens,Monster,81007,$20,6
679,9863175,2014-01-07,Walgreens,Monster,147829,$3,1
681,9863576,2014-01-09,Walgreens,Monster,257782,$4,2
705,9876028,2014-01-09,Walgreens,Monster,349699,$4,2
715,9880799,2014-01-09,Walgreens,Monster,33121,$2,1
796,9905205,2014-01-10,Walgreens,Monster,292962,$4,2
805,9906987,2014-01-10,Walgreens,Monster,349699,$3,1
822,9912068,2014-01-09,Walgreens,Monster,366491,$2,1
854,9925277,2014-01-10,Walgreens,Monster,9804,$2,1
878,9931735,2014-01-10,Walgreens,Monster,105231,$3,1
1007,9979633,2014-01-12,Walgreens,Monster,322669,$2,1
1034,9990325,2014-01-09,Walgreens,Monster,86274,$4,2
1115,10018986,2014-01-12,Walgreens,Monster,214405,$6,1
1158,10034709,2014-01-13,Walgreens,Monster,752,$2,1
1260,10069556,2014-01-13,Walgreens,Monster,311844,$2,1
1302,10084048,2014-01-14,Walgreens,Monster,82028,$4,2
1327,10090698,2014-01-04,Walgreens,Monster,262198,$8,2
...,...,...,...,...,...,...,...
28961,18513603,2014-06-25,Walgreens,Monster,571929,$2,1
28984,18519760,2014-06-27,Walgreens,Monster,566931,$3,2
29030,18532997,2014-06-25,Walgreens,Monster,85766,$4,2
29129,18567789,2014-06-28,Walgreens,Monster,555007,$6,3
29148,18570770,2014-06-28,Walgreens,Monster,371171,$5,3
29152,18571319,2014-06-27,Walgreens,Monster,576662,$5,3
29193,18582389,2014-06-24,Walgreens,Monster,351797,$6,1
29206,18587928,2014-06-28,Walgreens,Monster,458245,$2,1
29240,18596592,2014-06-27,Walgreens,Monster,393014,$2,1
29260,18604146,2014-06-28,Walgreens,Monster,528047,$2,1
29288,18615400,2014-06-20,Walgreens,Monster,210175,$4,1
29309,18622122,2014-06-28,Walgreens,Monster,117595,$15,3
29431,18658277,2014-06-29,Walgreens,Monster,379305,$3,1
29433,18658919,2014-06-28,Walgreens,Monster,343096,$3,1
29442,18662162,2014-06-25,Walgreens,Monster,6527,$2,1
29456,18667590,2014-06-30,Walgreens,Monster,521274,$4,1
29522,18686781,2014-06-30,Walgreens,Monster,51187,$4,2
29531,18688036,2014-06-21,Walgreens,Monster,559796,$2,1
29643,18728068,2014-06-29,Walgreens,Monster,392844,$4,2
29644,18728131,2014-06-26,Walgreens,Monster,392844,$3,2
29670,18743775,2014-06-29,Walgreens,Monster,301834,$2,1
29684,18749505,2014-06-30,Walgreens,Monster,338095,$4,1
29686,18750627,2014-06-28,Walgreens,Monster,23289,$2,1
29690,18753600,2014-06-28,Walgreens,Monster,93382,$5,3
29726,18776047,2014-06-30,Walgreens,Monster,487622,$2,1
29752,18790762,2014-06-30,Walgreens,Monster,392844,$4,2
29794,18831601,2014-06-26,Walgreens,Monster,221879,$2,1
29817,18871725,2014-06-30,Walgreens,Monster,523836,$4,2
29848,18926984,2014-06-26,Walgreens,Monster,106312,$2,1
29885,18992547,2014-06-27,Walgreens,Monster,453357,$2,1

In [94]:
unique = filtered_transactions["User ID"].unique()
count_hh_= len(unique)
count_hh_

544